.git
.launcher
__pycache__
node_modules
client/node_modules
server/node_modules
client/dist
server/data
!server/uploads
!server/uploads/**
server/server.log
server/server-out.log
server/server-err.log
server/server-facebook.log
docs
template_base
assets
*.sqlite
*.db
.env
server/.env
